<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:text="${authUser.email} + ' with roles: ' + ${authUser.getRolesName()}" href="#"></a>
        <div class="collapse navbar-collapse" style="float:right">
            <ul class="navbar-nav" style="Width:96%">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</header>

<section>
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <h1>Admin panel</h1>
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                               href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                               href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row">
                                <div class="col-11">
                                    <h3>All users</h3>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Password</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Roles</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="usersTableHere">
                                        <div class='modal fade' id="editUser">
                                            <div class='modal-dialog modal-dialog-centered'>
                                                <div class='modal-content'>
                                                    <input type='hidden' id='idToEditUser'>
                                                    <div class='modal-header'>
                                                        <h5>Edit user</h5>
                                                        <button type='button' class='close' data-dismiss='modal'
                                                                aria-label='Close'><span aria-hidden='true'>&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class='modal-body col-8 offset-2'>
                                                        <div class='form-group text-center'>
                                                            <label><b>Name</b></label>
                                                            <input type='text' id='nameToEditUser' class='form-control'
                                                                   required='required'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Last name</b></label>
                                                            <input type='text' id='lastNameToEditUser' class='form-control'
                                                                   required='required'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Age</b></label>
                                                            <input type='number' id='ageToEditUser' class='form-control'
                                                                   required='required'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Email</b></label>
                                                            <input type='email' id='emailToEditUser' class='form-control'
                                                                   required='required'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Password</b></label>
                                                            <input type='password' id='passwordToEditUser' class='form-control'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Role</b></label>
                                                            <div>
                                                                <th:block th:each="rol : ${rolesSet}" >
                                                                    <label th:for="${rol.name()}" th:text="${rol.name()}"></label>
                                                                    <input th:type="checkbox" th:name="${rol.name()}" th:value="${rol.name()}" th:attr="id=${rol.name()}"> </label>
                                                                </th:block>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='modal-footer'>
                                                        <button type='button' class='btn btn-secondary' data-dismiss='modal'>
                                                            Close
                                                        </button>
                                                        <button type='submit' id='modalEditBtn' class='btn btn-primary success'
                                                                data-dismiss='modal'>Edit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='modal fade' id='deleteUser'>
                                            <div class='modal-dialog modal-dialog-centered'>
                                                <div class='modal-content'>
                                                    <input type='hidden' id='passwordToDeleteUser'>
                                                    <div class='modal-header'>
                                                        <h5>Delete</h5>
                                                        <button type='button' class='close' data-dismiss='modal'
                                                                aria-label='Close'><span aria-hidden='true'>&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class='modal-body col-8 offset-2'>
                                                        <div class='form-group text-center'>
                                                            <label><b>Id</b></label>
                                                            <input type='text' id='idToDeleteUser' class='form-control'
                                                                   readonly='readonly'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Name</b></label>
                                                            <input type='text' id='nameToDeleteUser' class='form-control'
                                                                   readonly='readonly'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Last name</b></label>
                                                            <input type='text' id='lastNameToDeleteUser' class='form-control'
                                                                   readonly='readonly'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Age</b></label>
                                                            <input type='number' id='ageToDeleteUser' class='form-control'
                                                                   readonly='readonly'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Email</b></label>
                                                            <input type='email' id='emailToDeleteUser' class='form-control'
                                                                   readonly='readonly'>
                                                        </div>
                                                        <div class='form-group text-center'>
                                                            <label><b>Role</b></label>
                                                            <div>
                                                                <th:block th:each="rol : ${rolesSet}" >
                                                                    <label th:for="${rol.name()}" th:text="${rol.name()}"></label>
                                                                    <input th:type="checkbox" th:name="${rol.name()}" th:value="${rol.name()}" th:attr="id=${'Delete_'+rol.name()}" readonly='readonly'> </label>
                                                                </th:block>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='modal-footer'>
                                                        <button type='button' class='btn btn-secondary'
                                                                data-dismiss='modal'>Close
                                                        </button>
                                                        <button type='submit' id='modalDeleteBtn'
                                                                class='btn btn-primary success'
                                                                data-dismiss='modal'>Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row">
                                <h3>Add new user</h3>
                            </div>
                            <div class="row">
                                <div id="dropEmptyUser" class="col-3 offset-4">
                                    <div class='form-group text-center'>
                                        <label><b>Name</b></label>
                                        <input id='newName' type='text' class='form-control' placeholder='Name' required='required'>
                                    </div>
                                    <div class='form-group text-center'>
                                        <label><b>Last name</b></label>
                                        <input id='newLastName' type='text' class='form-control' placeholder='Last name' required='required'>
                                    </div>
                                    <div class='form-group text-center'>
                                        <label><b>Age</b></label>
                                        <input id='newAge' type='number' class='form-control' placeholder='Age' required='required'>
                                    </div>
                                    <div class='form-group text-center'>
                                        <label><b>Email</b></label>
                                        <input id='newEmail' type='email' class='form-control' placeholder='Email' required='required'>
                                    </div>
                                    <div class='form-group text-center'>
                                        <label><b>Password</b></label>
                                        <input id='newPassword' type='password' class='form-control' placeholder='Password' required='required'>
                                    </div>
                                    <div class='form-group text-center'>
                                        <label><b>Role</b></label>
                                        <div>
                                            <th:block th:each="rol : ${rolesSet}" >
                                                <label th:for="${rol.name()}" th:text="${rol.name()}"></label>
                                                <input th:type="checkbox" th:name="${rol.name()}" th:value="${rol.name()}" th:attr="id=${'New_'+rol.name()}" readonly='readonly'> </label>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button id='addSubmit' type='submit' class='btn btn-success btn-lg'>Add new user</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h3>About User</h3>
                    <div class="row">
                        <div class="col-11">
                            <table class="table table-hover">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Last name</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Age</th>
                                    <th>Role</th>
                                </tr>
                                <td><span th:text="${authUser.id}"> ID </span></td>
                                <td><span th:text="${authUser.name}"> Name </span></td>
                                <td><span th:text="${authUser.lastName}"> Last name </span></td>
                                <td><span th:text="${authUser.email}"> Email </span></td>
                                <td><span th:text="${authUser.password}"> Password </span></td>
                                <td><span th:text="${authUser.age}"> Age </span></td>
                                <td><span th:text="${authUser.getRolesName()}"> Role </span></td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://yastatic.net/jquery/3.3.1/jquery.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="main.js"></script>
</body>
</html>